**/.ipynb_checkpoints
**/__pycache__
**/._*
.DS_store
.DS_Store
data/
results/
models/
notebooks/external-examples
debug
*.log
*.svg
archive/
log_files/
*.egg-info
unsloth_compiled_cache
*.swp
notebooks/*
scripts/*
!notebooks/paper/
!scripts/paper/
