**/.ipynb_checkpoints
**/__pycache__
**/._*
.DS_store
.DS_Store
data/
results/
models/
notebooks/archive
notebooks/external-examples
debug
src/debug
src/archive
scripts/debug
src/finetune/unsloth_compiled_cache
*.log
archive/
*.egg-info
